div.question-body{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(245, 109, 0, 0.23);
  .questionImg{
    margin-top:20px;
    width: 260px;
    height: 145px;
  }

  h2{
    margin-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    color: #000000;


  }

  button{
    margin-top:40px;
    width: 166px;
    height: 38px;
    border-style: none;
    background: #F56D00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;


  }
  button:active{
    filter: brightness(60%)
  }
}