.bodyHist{
     background-color: #343434;
    height: 100vh;
     .headerPerfil{
      width: 100%;
      height: 43px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      background-color: rgba(245, 109, 0, 0.83);
  
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      justify-content: center;
      margin-bottom: 60px;
      
  
      .carretPer{
        position: absolute;
        left:0;
        top: 0;
        margin-top: 8px;
        margin-left: 30px;
      }
  
      .spanHaderPer{
       
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;

        color: #000000;
        
      }
    }
    
 .empt-ordem{
  margin-top: 137px;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img{
    width: 287px;
    height: 213px;
    margin-bottom: 39px;
  }

  span{
    width: 264px;
    height: 164px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #6D6D6D;
  }
 }

 .notempt-ordem{
  background: #343434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .title{
    margin-top: 92px;
    margin-bottom: 49px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #030303;

  }

  .ordem-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 327px;
    height: 256px;
    margin-bottom: 80px;
    
    background: #FFFFFF;
    border: 1px solid #F56D00;
    border-radius: 8px;

    .header{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 17px;
      height: 58px;
      
      border-radius: 6px;
      border-bottom: 1px solid #CCCCCC;
    }

    .ordemData{
     margin-left: 15px;
    margin-top:12px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      text-align: left;

      color: #030303;

    }

    .btn{
      width: 152px;
      height: 42px;
      margin-top:25px;
      margin-left:85px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      text-align: center;

      color: #FFFFFF;

    }
  }
 }
}