.form-client{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-cliente-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 250px;
    
    background: #F56D00;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

   
     
    h1{
      margin-bottom: 25px;
      color: #FFFFFF;
      font-family:  Poppins, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
    }


  }

  .form-cliente{
    margin-top: -120px;
    margin-bottom:40px;
    position: relative;
    float: center;
    width: 295px;
    height: 1300px;

    background: #FFFFFF;
    border: 1px solid #F56D00;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    label{
      margin-top: 18px;
      margin-left: 15px;
      font-family:  Poppins, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;

    }
    .fotouploader{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .btnup{
        border-radius: 5px;
        font-size: 20px;
        border: #F56D00 solid 1px;
        align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      }
      .btnup:active{
        transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      .btnup::after{
        content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
      }
    }
    input{
     padding-left: 5px;
      width: 266px;
      height: 42px;
      margin-left: 15px;
      background: #FFFFFF;
      border: 1px solid #8C8787;
      box-sizing: border-box;
      border-radius: 8px;
    }
      p{
    font-family: "Poppins" , sans-serif;
    color: #bf1650;
      }

    fieldset{
      list-style: none;
      border-style: none;

      .fieldset-input{
      padding-left: 5px;
      width: 190px;
      height: 42px;
      margin-left: 15px;
      background: #FFFFFF;
      border: 1px solid #8C8787;
      box-sizing: border-box;
      border-radius: 8px;
      }
    }
    select{
      padding-left: 5px;
      width: 62px;
      height: 42px;
      margin-left: 15px;
      background: #FFFFFF;
      border: 1px solid #8C8787;
      box-sizing: border-box;
      border-radius: 8px;
    }
    
    .submit-area{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      
      button{
      
        width: 161px;
        height: 46px;
        border-style: none;
        background: #F56D00;
        border-radius: 5px;
  
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
  
        color: #FFFFFF;
      }
  
      .Saveimg{
        margin-top:5px;
        width: 103px;
        height: 80px;
      }
      button:active{
        filter: brightness(60%)
      }
    }

   
  }
}