.ordem{
  
  height: 1200px;
  background-color:#343434;

  .header{
    width: 100%;
height: 46px;

background: #F56D00;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;

display: flex;
align-items: center;
justify-content: center;

h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;

}

.carret{
  position: absolute;
  left:0;
  top: 0;
  margin-top: 8px;
  margin-left: 30px;
}
  }
  div.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span{
      font-size: 18px;
      align-items: center;
      text-align: center;
      margin-top: 43px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .form-ordem{
      margin-top: 17px;

      width: 312px;
        height: 950px;

        background: #FFFFFF;
        border: 1px solid #F56D00;
        box-sizing: border-box;
        border-radius: 8px;

        label{
          margin-top: 18px;
          margin-left: 15px;
          font-family:  Poppins, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          display: flex;
          align-items: center;
          text-align: center;
    
          color: #000000;
    
        }
        input{
          padding-left: 5px;
           width: 266px;
           height: 42px;
           margin-left: 15px;
           background: #FFFFFF;
           border: 1px solid #8C8787;
           box-sizing: border-box;
           border-radius: 8px;
           font-family:  Poppins, sans-serif;
         }
         fieldset{
          list-style: none;
          border-style: none;
    
          .fieldset-input{
          padding-left: 5px;
          width: 190px;
          height: 42px;
          margin-left: 15px;
          background: #FFFFFF;
          border: 1px solid #8C8787;
          box-sizing: border-box;
          border-radius: 8px;
          }
        }
        select{
          padding-left: 5px;
          font-family:  Poppins, sans-serif;
          width: 100px;
          height: 42px;
          margin-left: 15px;
          background: #FFFFFF;
          border: 1px solid #8C8787;
          box-sizing: border-box;
          border-radius: 8px;
        }
        .textarea{
          font-size: 12pt;
          padding-left: 5px;
          font-family:  Poppins, sans-serif;
           width: 266px;
           height: 150px;
           margin-left: 15px;
           background: #FFFFFF;
           border: 1px solid #8C8787;
           box-sizing: border-box;
           border-radius: 8px;
          
        }
        img{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 95px;
        }
        .btn{
          margin-top: 50px;
          width: 161px;
          height: 46px;
          margin-left: 70px;
          font-size: 25px;
          font-family:  Poppins, sans-serif;
        }
        
    }
  }
}
.success{

  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

background: rgba(245, 109, 0, 0.23);
mix-blend-mode: normal;
width: 100%;
height: 100vh;

img{
width: 226px;
height: 188px;
top: 0;
margin-top: -100px;
}
span{
  margin-top: 46px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
margin-left: 20px;
margin-right: 20px;

color: #000000;
}
.btnsuc{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 130px;
  margin-bottom: -100px;
  width: 161px;
height: 46px;

background: #F56D00;
border-radius: 5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}
}